body,header,h2 {
    font-family: 'Montserrat', sans-serif;
    background-color:#080808;
    color: darkorange;
    text-align: justify;
}

h3, h4 {
    font-family: 'Montserrat', sans-serif;
    background-color:#080808;
    color: white;
    text-align: justify;
}

h4 {
    line-height: 2;
    font-size: 20px;
}

#lede {
    font-family: 'Montserrat', sans-serif;
    background-color:#080808;
    color: white;
    text-align: justify;
}

#outline {
    line-height: 2;
    font-size: 20px;
}

#intro {
    line-height: 2;
    font-size: 20px;
} 

#graph-title {
    font-family: 'Montserrat', sans-serif;
    background-color: #080808;
    color: darkred;
    text-align: center;
}

#title {
    font-style: italic;
    font-size: 200px;
    text-align: center;
    margin:0;
    line-height: 250px;
    color: darkred;
    text-decoration: underline;
}

#sub-title {
    font-size: 22px;
    text-align:center;
    margin: 0;
    color: darkred;
    font-weight: bold;
}

#subject {
    font-size: 30px;
    text-align: center;
    margin:0;
    color: darkred;
}

#plot {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#plot-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.arrow {
  border: solid darkorange;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

#heatmap {
    width: 30%;
    height: 30%;
}

.typewriter h1 {
    font-size: 30px;
    width: 63%;
    color: darkred;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 63% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

#container {
    border: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.styled-table {
    margin-left: auto;  
    margin-right: auto;  
    border-collapse: collapse;    
    width: 500px;  
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    min-width: 400px;
}

.styled-table thead tr {
    background-color: darkorange;
    font-family: 'Montserrat', sans-serif;
    color: darkred;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    text-align: left;
    border-bottom: 1px solid black;
}

.styled-table tbody tr{
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#right {
    text-align: right;
}

#slide {
    color: darkred;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

* {box-sizing: border-box}
body {font-family: 'Montserrat', sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #080808;
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: darkorange;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 10px;
    background: #080808;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 1px;
  background-color: darkred;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: white;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: white;}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color:#080808;
    color: white;
    text-align: center;
}